# Block 1

In [ ]:
# the libraries that we are importing
import pandas as pd
from google.colab import files
files.upload()
%ls

Saving problem_set_1_data.csv to problem_set_1_data (1).csv
'problem_set_1_data (1).csv'   problem_set_1_data.csv   sample_data/

# Block 2

In [ ]:
# load the data using the following code...
data = pd.read_csv('problem_set_1_data.csv')
# rename the columns
data = data.rename(columns={'quizzes':'quiz_total','attendedClass':'attended','finalgrade':'final_grade','final_EXAM':'final_exam','student':'name'})
# print a 'head' and 'tail' of the dataframe 
print(data.head())
print(data.tail())
print(data.describe())

   quiz_total  attended  final_grade  final_exam               name
0       78.50         1        99.38          46       Linnie Lietz
1       64.25         0        95.78          45      Mitch Mustain
2       76.75         0        97.42          41     Salina Chavera
3       69.00         1        92.50          38  Kimberely Conwell
4       64.00         0        92.50          39          Zack Burk
     quiz_total  attended  final_grade  final_exam                 name
166        73.5         0        96.25          45           Dana Malta
167        75.5         0        98.13          44         Sixta Heyden
168        41.0         0        69.38          32       Brianne Broome
169        77.0         0       101.25          47  Elouise Weatherholt
170        72.0         0        92.81          38        Addie Maharaj
       quiz_total    attended  final_grade  final_exam
count  171.000000  171.000000   171.000000  171.000000
mean    69.131579    0.192982    91.855380   39.672515
std      9.488473    0.395798     9.487795    5.511304
min      0.000000    0.000000     2.500000    0.000000
25%     65.500000    0.000000    89.380000   37.000000
50%     72.000000    0.000000    93.130000   40.000000
75%     75.500000    0.000000    96.360000   44.000000
max     79.500000    1.000000   104.380000   49.000000

## In a text block, describe what the averages mean from the dataframe
The mean row in the dataframe means that  students averaged around 69 percent on their quiz scores and that most students did not attend class. In addition, students averaged a little over 39 percent on their final exams and their final grades in the class averaged around 91 percent.

# Block 3

In [ ]:
# subset the data by whether someone attended class
attended = data[data.attended == 1]
# i will view the data
attended
absent = data[data.attended == 0]
# i will view the data
absent
# what is the average 'quiz_total', 'final_grade', and 'final_exam' for those who attended class versus those who did not attend?
# averages for students who attended
avg1_quiztotal = attended['quiz_total'].mean()
print('the average quiz grade for students who attended class is: ', avg1_quiztotal)
avg1_finalgrade = attended['final_grade'].mean()
print('the average final grade for students who attended class is: ', avg1_finalgrade)
avg1_finalexam = attended['final_exam'].mean()
print('the average quiz grade for students who attended class is: ', avg1_finalexam)
# averages for students who were absent
avg0_quiztotal = absent['quiz_total'].mean()
print('the average quiz grade for students who did NOT class is: ', avg0_quiztotal)
avg0_finalgrade = absent['final_grade'].mean()
print('the average final grade for students who did NOT attend class is: ', avg0_finalgrade)
avg0_finalexam = absent['final_exam'].mean()
print('the average quiz grade for students who did NOT attend class is: ', avg0_finalexam)

the average quiz grade for students who attended class is:  72.5
the average final grade for students who attended class is:  95.07212121212123
the average quiz grade for students who attended class is:  40.63636363636363
the average quiz grade for students who did NOT class is:  68.32608695652173
the average final grade for students who did NOT attend class is:  91.08615942028983
the average quiz grade for students who did NOT attend class is:  39.44202898550725

## Describe what you find from these results in a text box below
The data shows that students who attend class, on average, score higher than those who do not attend; this includes quiz grades, final exam grades, and final overall grades.

# Bonus Point

In [ ]:
import numpy as np

In [ ]:
# finding if anyone was working together
# quiz data
togetherquiz = data[data.duplicated('quiz_total',keep=False)]
print(togetherquiz)
# final data
togetherfinal = data[data.duplicated('final_grade',keep=False)]
print(togetherfinal)
# final exam data
togetherexam = data[data.duplicated('final_exam',keep=False)]
print(togetherexam)

together = []

for i in togetherquiz.name:
  for j in togetherfinal.name:
    for x in togetherexam.name:
      if i==j and i==x:
        together.append(i)
together = [i.replace('\xa0',' ') for i in together]
print('the students who worked together are: ', together)

     quiz_total  attended  final_grade  final_exam                 name
0         78.50         1        99.38          46         Linnie Lietz
2         76.75         0        97.42          41       Salina Chavera
3         69.00         1        92.50          38    Kimberely Conwell
4         64.00         0        92.50          39            Zack Burk
5         63.00         1        89.38          36         Almeda Rizer
..          ...       ...          ...         ...                  ...
165       72.00         0        90.94          35      Lakisha Colucci
166       73.50         0        96.25          45           Dana Malta
167       75.50         0        98.13          44         Sixta Heyden
169       77.00         0       101.25          47  Elouise Weatherholt
170       72.00         0        92.81          38        Addie Maharaj

[145 rows x 5 columns]
     quiz_total  attended  final_grade  final_exam                 name
0          78.5         1        99.38          46         Linnie Lietz
3          69.0         1        92.50          38    Kimberely Conwell
4          64.0         0        92.50          39            Zack Burk
5          63.0         1        89.38          36         Almeda Rizer
6          73.5         0        95.94          43        Damien Ellett
..          ...       ...          ...         ...                  ...
165        72.0         0        90.94          35      Lakisha Colucci
166        73.5         0        96.25          45           Dana Malta
167        75.5         0        98.13          44         Sixta Heyden
169        77.0         0       101.25          47  Elouise Weatherholt
170        72.0         0        92.81          38        Addie Maharaj

[101 rows x 5 columns]
     quiz_total  attended  final_grade  final_exam                 name
0         78.50         1        99.38          46         Linnie Lietz
1         64.25         0        95.78          45        Mitch Mustain
2         76.75         0        97.42          41       Salina Chavera
3         69.00         1        92.50          38    Kimberely Conwell
4         64.00         0        92.50          39            Zack Burk
..          ...       ...          ...         ...                  ...
166       73.50         0        96.25          45           Dana Malta
167       75.50         0        98.13          44         Sixta Heyden
168       41.00         0        69.38          32       Brianne Broome
169       77.00         0       101.25          47  Elouise Weatherholt
170       72.00         0        92.81          38        Addie Maharaj

[165 rows x 5 columns]
the students who worked together are:  ['Linnie Lietz', 'Kimberely Conwell', 'Zack Burk', 'Almeda Rizer', 'Damien Ellett', 'Lora Sobieski', 'Kieth Treanor', 'Albertha Ouk', 'Augustine Clair', 'Krystyna Barrentine', 'Fidela Leonetti', 'Annalee Deaton', 'Codi Whitcher', 'Gretta Kunzman', 'Jaimee Carl', 'Nan Castro', 'Gidget Ingerson', 'Georgette Ortega', 'Fern Iadarola', 'Izetta Maloy', 'Delilah Starr', 'Marlin Abrahamson', 'Maisie Monti', 'Bettyann Watford', 'Owen Meagher', 'Moshe Dulmage', 'Carolyne Soltis', 'Jana Satterlee', 'Branden Vanfossen', 'Shanda Doi', 'Winfred Haug', 'Towanda Mutchler', 'Ollie Freeney', 'Dulcie Furtado', 'Laine Dowling', 'Liberty Elzey', 'Lenard Soares', 'Earnestine Reese', 'Ward Piccolo', 'Neil Acosta', 'Jasper Claudio', 'Latia Slagle', 'Clayton Carvalho', 'Concetta Yanez', 'Dori Geier', 'Min Peake', 'Delicia Tay', 'Tamica Wann', 'Danette Prisco', 'Juana Kerby', 'Cassandra Bacchus', 'Babette Kaina', 'Rey Paterson', 'Kimbery Almaguer', 'Ingeborg Ruyle', 'Lakia Kaestner', 'Hanna Morell', 'Marguerite Edelen', 'Jeneva Shores', 'Jerrica Heal', 'Olene Polanco', 'Mario Heckstall', 'Clark Gribble', 'Gisele Rierson', 'Kathryn Dickens', 'Elfriede Gothard', 'Kasie Grasser', 'Annabelle Brierly', 'Palma Tewell', 'Denae Mcculley', 'Venus Shank', 'Adalberto Berube', 'Genevieve Woodfin', 'Sade Byham', 'Rana Tatro', 'Claudette Ownby', 'Arlette Hornbaker', 'Vincent Staub', 'Don Connell', 'Pansy Waite', 'Evelyne Tittle', 'Jaraham Eidda', 'Laurie Braziel', 'Shavonda Oesterling', 'Cristi Chae', 'Brock Crocket', 'Clorinda Lundblad', 'Eneida Chesser', 'Latarsha Madore', 'Margarite Kaczmarek', 'Carlyn Matson', 'Phillip Barnett', 'Les Shehorn', 'Demarcus Kenney', 'Lakisha Colucci', 'Dana Malta', 'Sixta Heyden', 'Elouise Weatherholt', 'Addie Maharaj']